<section class="container" id="contact">
    <div class="title">Kontakt</div>
    <p class="description">Jeśli masz jakieś pytanie lub zlecenie, skontaktuj się ze mną</p>
    <div class="email-wrapper">
        <p class="email">wiktor7530&#64;windowslive.com</p>
        <a href="mailto:wiktor7530@windowslive.com" class="send-email">Wyślij Email</a>
    </div>
    <div class="social-wrapper">
        <p class="other-contact">Lub znajdź mnie na</p>
        <div class="social-buttons">
            <a href="https://www.linkedin.com/in/wiktor-opala-52a689242/" target="_blank" class="social-button">
                <img class="social-button-icon" src="assets/ui/linkedInIcon.svg" alt="LinkedIn">
            </a>
            <a href="https://github.com/ProgrammerWiktor" target="_blank" class="social-button">
                <img class="social-button-icon" src="assets/ui/githubIcon.svg" alt="GitHub" >
            </a>
        </div>
    </div>
</section>