.container {
    width: 100%;
    display: flex;
    // border: 1px solid red;
    overflow: hidden;
}

.left {
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
}

.center {
    width: 86%;
    // border: 1px dashed yellow;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;

}

.center::-webkit-scrollbar {
    display: none;
}

.right {
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid gray;
}

.arrow {
    width: 80%;
    cursor: pointer;
}
