.container {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.left {
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;

}

.center::-webkit-scrollbar {
    display: none;
}

.right {
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 80%;
    cursor: pointer;
}


@media (max-width: 1350px) {
    .center {
        justify-content: left;
    }
}

@media (max-width: 800px) {
    .left {
        width: 9%;
        border: none;
    }

    .right {
        width: 9%;
        border: none;
    }

    .center {
        width: 82%;
    }
}

@media (max-width: 600px) {
    .arrow {
        width: 100%;
    }

    .left {
        width: 10%;
        border: none;
    }

    .right {
        width: 10%;
        border: none;
    }

    .center {
        width: 80%;
    }
}