<section class="container">
  <h2 class="title">O mnie</h2>
  <div class="wrapper">
    <div class="left">
      <p class="text">
        Nazywam się Wiktor Opala i jestem studentem informatyki na Politechnice
        Świętokrzyskiej.
      </p>
      <p class="text">
        Moja pasja do programowania zaczęła się już w technikum, gdzie po raz
        pierwszy zetknąłem się z HTML, CSS oraz JavaScript. Od tego czasu
        rozwijałem swoje umiejętności, poznając różne technologie i narzędzia,
        które pozwalają mi tworzyć efektywne i innowacyjne rozwiązania.
      </p>
      <p class="text">
        Skupiam się na rozwoju aplikacji webowych oraz mobilnych, ale mam
        również doświadczenie w innych technologiach. W swojej pracy kładę duży
        nacisk na jakość kodu oraz najlepsze praktyki programistyczne. Dbam o
        czytelność, skalowalność i wydajność tworzonych przeze mnie aplikacji.
      </p>
      <p class="text">
        Na mojej stronie znajdziesz przykłady projektów, nad którymi pracowałem,
        oraz pełen zestaw moich umiejętności i doświadczeń. Jestem gotów na nowe
        wyzwania i współpracę w dynamicznym zespole, który pozwoli mi dalej
        rozwijać się jako programista. Zachęcam do kontaktu i współpracy!
      </p>
    </div>
    <div class="right">
      <img
        class="image"
        src="assets/images/aboutMePic.svg"
        alt="male programmer picture"
      />
    </div>
  </div>
  <hr class="line" />
</section>
