<nav
  class="navbar"
  *ngIf="!isMobile"
  [ngClass]="{ show: showNavbar, hide: !showNavbar }"
>
  <ul class="navbar-container">
    <li class="navbar-item">
      <a class="navbar-item-link" href="#about-me" (click)="closeMenu()">O mnie</a>
    </li>
    <li class="navbar-item">
      <a class="navbar-item-link" href="#skills" (click)="closeMenu()">Umiejętności</a>
    </li>
    <li class="navbar-item">
      <a class="navbar-item-link" href="#projects" (click)="closeMenu()">Projekty</a>
    </li>
    <li class="navbar-item">
      <a class="navbar-item-link" href="#contact" (click)="closeMenu()">Kontakt</a>
    </li>
  </ul>
</nav>

<div
  class="navbar-mobile"
  *ngIf="isMobile"
  [ngClass]="{ 'navbar-mobile-show': showNavbar }"
>
  <div class="navbar-mobile-bar">
    <button class="navbar-mobile-toggle" (click)="toggleMenu()">
      {{ mobileMenuIsOpen ? "&#10005;" : "&#9776;" }}
    </button>
  </div>
  <div
    class="navbar-mobile-items"
    [ngClass]="{ 'items-show': mobileMenuIsOpen }"
  >
    <ul class="navbar-mobile-items-list">
      <li>
        <a href="#about-me" class="mobile-item" (click)="closeMobileMenu()">O mnie</a>
      </li>
      <li>
        <a href="#skills" class="mobile-item" (click)="closeMobileMenu()">Umiejętności</a>
      </li>
      <li>
        <a href="#projects" class="mobile-item" (click)="closeMobileMenu()">Projekty</a>
      </li>
      <li>
        <a href="#contact" class="mobile-item" (click)="closeMobileMenu()">Kontakt</a>
      </li>
    </ul>
  </div>
</div>
