@import './../../../variables.scss';

.navbar {
  width: 100%;
  height: 4.3rem;
  background-color: $navbarBackgroundColor;
  border-bottom: 1px solid white;
  z-index: 10;
  position: fixed;
  top: -4.3rem;
  visibility: hidden;
  transition: top 0.3s;
}

.navbar-container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  list-style: none;
  margin: 1.3rem 0;
}

.navbar-item-link {
  color: $textColor;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: 0.3s;
}

.navbar-item-link:hover {
  background-color: $navbarItemBackgroundColor;
}

.show {
  top: 0;
  visibility: visible;
}


.navbar-mobile {
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;
  z-index: 10;
}

.navbar-mobile-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  background-color: $navbarBackgroundColor;
  position: absolute;
  top: -15rem;
  transition: top 0.3s;
}

.mobile-show {
  top: 4.5rem;
}

.navbar-mobile-container li {
  width: 100%;
  height: 3.2rem;
  text-align: center;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-mobile-container li:hover {
  cursor: pointer;
  background-color: $navbarItemBackgroundColor;
}

.navbar-mobile-toggle-button {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.8rem;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  z-index: 2;
}

.navbar-mobile-toggle-button:hover {
  background-color: $navbarItemBackgroundColor;
  transition: 0.3s;
  border-radius: 10px;
}

.mobile-item {
  color: $textColor;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .navbar-item-link {
    font-size: 1.2rem;
  }
}