<div class="container">
    <h2 class="title">Projekty</h2>
    <div class="language-list">
        <app-language-item imageLink="assets/allCodeIcon.svg"></app-language-item>
        <app-language-item imageLink="assets/htmlIcon.svg"></app-language-item>
        <app-language-item imageLink="assets/cssIcon.svg"></app-language-item>
        <app-language-item imageLink="assets/javascriptIcon.svg"></app-language-item>
        <app-language-item imageLink="assets/angularIcon.svg"></app-language-item>
        <app-language-item imageLink="assets/reactIcon.svg"></app-language-item>
        <app-language-item imageLink="assets/reactNativeIcon.svg"></app-language-item>
        <app-language-item imageLink="assets/vueIcon.svg"></app-language-item>
        <app-language-item imageLink="assets/cppIcon.svg"></app-language-item>
        <app-language-item imageLink="assets/cIcon.svg"></app-language-item>
        <app-language-item imageLink="assets/phpIcon.svg"></app-language-item>
        <app-language-item imageLink="assets/mysqlIcon.svg"></app-language-item>
        <app-language-item imageLink="assets/plsqlIcon.svg"></app-language-item>
        <app-language-item imageLink="assets/javaIcon.svg"></app-language-item>
        <app-language-item imageLink="assets/pythonIcon.svg"></app-language-item>
    </div>
    <div class="list-of-projects">

    </div>
</div>