<section class="container">
  <h2 class="title">Umiejętności</h2>
  <div class="skills">
      <app-skill-item skillName="HTML" imageSrc="assets/htmlIcon.svg"></app-skill-item>
      <app-skill-item skillName="Css" imageSrc="assets/cssIcon.svg"></app-skill-item>
      <app-skill-item skillName="JavaScript" imageSrc="assets/javascriptIcon.svg"></app-skill-item>
      <app-skill-item skillName="Angular" imageSrc="assets/angularIcon.svg"></app-skill-item>
      <app-skill-item skillName="React" imageSrc="assets/reactIcon.svg"></app-skill-item>
      <app-skill-item skillName="React Native" imageSrc="assets/reactNativeIcon.svg"></app-skill-item>
      <app-skill-item skillName="Vue" imageSrc="assets/vueIcon.svg"></app-skill-item>
      <app-skill-item skillName="C++" imageSrc="assets/cppIcon.svg"></app-skill-item>
      <app-skill-item skillName="C" imageSrc="assets/cIcon.svg"></app-skill-item>
      <app-skill-item skillName="Php" imageSrc="assets/phpIcon.svg"></app-skill-item>
      <app-skill-item skillName="MySql" imageSrc="assets/mysqlIcon.svg"></app-skill-item>
      <app-skill-item skillName="PL/SQL" imageSrc="assets/plsqlIcon.svg"></app-skill-item>
      <app-skill-item skillName="Java" imageSrc="assets/javaIcon.svg"></app-skill-item>
      <app-skill-item skillName="Python" imageSrc="assets/pythonIcon.svg"></app-skill-item>
  </div>
  <hr class="line" />
</section>