$backgorundColor: #1e1e1e;
$textColor: #ffffff;

$navbarBackgroundColor: #111111;
$navbarItemBackgroundColor: #282828;

$itemBackgroundColorSecond: #272727;
$itemDescriptionBackgroundColor: #2e2e2e;
$itemDescriptionBackgroundColorSecond: #393939;