$backgorundColor: #1e1e1e;
$textColor: #ffffff;
$navbarBackgroundColor: #111111;
$navbarItemBackgroundColor: #282828;
$skillItemDescriptionBackgroundColor: #2e2e2e;
$navbarItemBackgroundColorSecond: #272727;
$skillItemDescriptionBackgroundColorSecond: #393939;